apiVersion: v1
kind: ConfigMap
metadata:
  name: qbittorrent-nginx-config
  namespace: default
data:
  nginx.conf: |
    events {
        worker_connections 1024;
    }
    http {
        upstream qbittorrent {
            server 127.0.0.1:8081;
        }
        server {
            listen 8090;
            location / {
                proxy_pass http://qbittorrent;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
                
                # Disable compression to allow sub_filter to work
                proxy_set_header Accept-Encoding "";
                
                # Enable buffering for sub_filter to work
                proxy_buffering on;
                proxy_buffer_size 4k;
                proxy_buffers 8 4k;
                
                # Inject base tag for subpath support
                sub_filter '<head>' '<head><base href="/media/qbittorrent/">';
                sub_filter_once on;
                sub_filter_types text/html;
            }
        }
    }

